body {
    background-color: rgb(165, 224, 165);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Merriweather', serif;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.activeNav {
    transform:  translate(0,-3px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navContainer {
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

nav a {
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: rgb(80, 148, 80);
    padding: 20px 0;
    color: rgb(226, 250, 228);
    cursor: pointer;
    width: 100%;
    transition: 0.2s all;
}
nav a:nth-of-type(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
nav a:nth-of-type(2n) {
    background-color: rgb(105, 173, 105);
}

nav a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.stats {
    text-align: center;
    width: calc(100%);
    width: 100%;
}

.dropdown {
    display: flex;
    padding: 5px;
    background-color: rgb(142, 201, 142);
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 21%;
    width: 100%;
    min-width: 20%;
    border-right: 1px solid rgb(168, 209, 175);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.logo img {
    max-width: 50px;
    height: auto;
}

.dropdown h2 {
    text-align: left;
    padding-left: 20px;
    font-family: 'Merriweather', serif;
    color: rgb(37, 63, 47);
}

.stats h2 {
    color: rgb(37, 63, 47);
}

.dropdown * {
    width: 100%;
}

#filterBy option {
    padding: 10px;
}

#korpusSelection {
    width: 100%;
}

.grid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a:hover {
    transform: translate(0, -2px);
    background-color: rgb(177, 243, 157);
    color: rgb(37, 63, 47);
    font-weight: 900;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(53,102,48,1);
    -moz-box-shadow: 0px 1px 6px 0px rgba(53,102,48,1);
    box-shadow: 0px 1px 6px 0px rgba(53,102,48,1);
}

.miniStats {
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: rgba(145, 219, 145, 0);
    gap: 15px;
    box-shadow: none;
}

.miniStats p {
    width: 100%;
    font-weight: 700;
    background-color: rgb(233, 250, 238);
    padding: 20px 0px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
}

.miniStats p * {
    font-weight: normal;
}

#buttons {
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* gap: 10px; */
}

.logo {
    display: flex;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.logo h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: rgb(37, 63, 47);
    text-align: center;
    padding-left: 10px;
}

.checkbox {
    border: none;
    width: 100%;
    background-color: rgb(218, 245, 219);
    color: rgb(75, 3, 13);
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 10px 5px;
}

.checkbox:nth-of-type(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.checkbox:nth-of-type(2n) {
    background-color: rgb(203, 236, 212);
    color: rgb(75, 3, 13);
}

.btn-check:checked+.checkbox:nth-of-type(2n){
    background-color: rgb(105, 173, 105);
    color: rgb(37, 63, 47);
}

.checkbox:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-check:checked+.checkbox{
    background-color: rgba(129, 202, 129, 0);
    color: rgb(37, 63, 47);
}

.checkbox:hover {
    background-color: rgb(222, 245, 222);
    transform: translate(0, -2px);
}

.btn-check:checked+.checkbox:hover {
    background-color: rgb(158, 211, 167);
    color: rgb(37, 63, 47);
    transform: translate(0, -2px);
}


#buttons button {
    font-family: 'Merriweather', serif;
    border: none;
    width: 100%;
    background-color: rgb(105, 170, 105);
    color: black;
    font-weight: bold;
    padding: 20px 0px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px 0 0 5px;
}

#buttons button:nth-of-type(2) {
    background-color: rgb(218, 245, 219);
    color:rgb(65, 4, 12);
    border-radius: 0 5px 5px 0;
}

#buttons button:hover {
    transform: translate(0, -5px);
}

.statsType {
    display: flex;
    border: none;
    justify-content: space-between;
    background-color: rgba(145, 219, 145, 0);
    gap: 15px;
    box-shadow: none;
}

.statsType button:focus {outline:0;}

.dropdown p {
    font-size: 13.3333px;
}

.statsType button {
    border: none;
    width: 100%;
    background-color: rgb(214, 248, 220);
    font-family: 'Merriweather', serif;
    color: rgb(37, 63, 47);
    font-weight: bold;
    padding: 10px 0px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
}

.statsType button:hover {
    background-color: rgb(105, 170, 105);
    color: rgb(235, 235, 235);
    transform: scale(1.02);
}

section {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    background-color: rgb(233, 250, 238);
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
    box-shadow: 3px 3px 5px 0px rgba(72,133,60,1);
}

table.GeneratedTable {
    width: 100%;
    background-color: rgb(233, 250, 238);
    border-collapse: collapse;
    border-width: 0px;
    border-color: #fafafa;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 0px;
    border-color: #fafafa;
    border-style: solid;
    padding: 20px;
  }
  
  table.GeneratedTable thead {
    background-color: rgb(145, 219, 145);
}
.hidden {
    display: none;
}

label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

label p {
    text-align: right;
}

label i {
    max-width: 5%;
    padding-right: 3px;
}

#filterBy {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font-weight: bold;
    text-align: center;
    background-color: rgb(105, 170, 105);
    transition: 0.2s all;
    font-family: 'Merriweather', serif;
}

#filterBy:hover {
    background-color: rgb(179, 221, 179);
}


#filterBy option {
    background-color: white;
}

#filterBy option:checked {
    background-color: rgb(191, 228, 189);
}

#filterBy option:hover {
    background-color: rgb(124, 192, 122);
}

/* Create a custom checkbox */
input[type="checkbox"] {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.echarts {
    width: 100%;
    min-height: 700px;
}



@media only screen and (max-width: 800px) {
    section {
        flex-direction: column;
        margin: 10 0;
    }
    body {
        padding: 0;
    }
    .miniStats {
        flex-direction: row;
    }
    .dropdown {
        max-width: 100%;
        padding-right: 0;
        width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown * {
        width: 100%;
    }

    .checkbox {
        border-radius: 5px;
    }

    .dropdown #korpusSelection {
        display: inline-flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #korpusSelection label {
        margin: 0;
        flex: 1 1;
        min-width: 33%;
    }
}

/*DARK LIGHT MODE SWITCH*/

*{
    box-sizing: border-box;
}

.checkbox_div {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10vh;
    margin: 0;
}

.checkbox_color {
    opacity: 0;
    position:absolute;
}



.checkbox_label {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items:center;
    justify-content: space-between;

    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.ball {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top:2px;
    left:2px;
    height: 22px;
    width: 22px;
    transition: trasform 0.2s linear;
    opacity: .6;
}

.checkbox_color:checked + .checkbox_label .ball {
    transform: translateX(26px); /*24px*/
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;

}

label i {
    padding-right: 25px;
}

.dropdown h2.dark {
    font-size: 36px;

}

body.dark {
    background-color: rgb(20, 27, 20);
    /*color: aquamarine;*/
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Merriweather', serif;
    padding: 10px;

    -webkit-font-smoothing: antialiased;
    /*font-size: 36px;*/
} 
